<%- include('../partials/head') %>
    <%- include('../partials/header') %>
    <h1 style ="text-align:center">Thank You for the message</h1>
    <h3 style ="text-align:center">It will be reviewd and display in<a href="/message"> here </a>shortly</h1>